<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">COMENTARIO</h5>
    <form action="darlike" method="POST"></form>
        <p class="card-text"><input type="text" class="form-control" value="{{text_post}}" name="text_post" placeholder="Post"></p>
        <p> {{nombre}} </p>
        <center><button type="submit" class="btn btn-secondary">Agregar</button></center>
    </form>
  </div>
  <div class="card-footer text-muted">
    MINI FACEBOOK
  </div>
</div>