<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>Agua XD</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <form action="" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" name="nombre_agua" placeholder="Nombre">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="empaque_agua" placeholder="Empaquetadura">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="marca_agua" placeholder="Marca">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="cantidad_agua" placeholder="Cantidad">
                </div>                

                <button type="submit" class="btn btn-secondary">Agregar</button>
            </form>

        </div>
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Empaque</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5</td>
                        <td>Cristal</td>
                        <td>Bolsas</td>
                        <td>Postobon</td>
                        <td>2</td>
                        <td>
                        <button type="button" class="btn btn-success">Modificar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>